<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.1" package="org.neocities.nsnbc.najdicestuven" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28" />
	<application android:label="Najdi cestu ven!" android:icon="@drawable/Icon192"></application>
</manifest>